<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="info.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Informações Pessoais</title>
  </head>
  <body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink] = "['']">
            <img src="assets/images/doctorwho.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <b>EDUARDO DAMAZIO</b>
          </a>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="infos">
                    <div class="fs-4">
                        INFORMAÇÕES PESSOAIS
                        </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="infos-body">
                    <img src="assets/images/avatar.png" alt="Flowers in Chania">
                    <br>
                    Olá, meu nome é <b>Eduardo Felipe Macedo Damazio</b>, Tenho 28 anos e atualmente moro na cidade de Belo Horizonte - MG.<br>
                    Nesta página apresento um pouco sobre mim, minhas experiências em trabalhos anteriores e minha formação academica.
                    <br>
                    <br>
                    <b>Endereço:</b> Rua X, 140 Bairro Y,  Belo Horizonte - Minas Gerais.
                    <br>
                    <b>Telefone:</b> +55 31 9 9181-XXXX
                    <br>
                    <b>Email:</b> meuemail@gmail.com     
                    <br>
                    <br>
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-outline-success" routerLink= "/formacao" role="button" style="margin-left: 872px;">Formação Acadêmica >> </a>
                      </div>          
                </div>
                <br>
                <br>
            </div>
            <br>
        </div>
        </div>

  </body>
  <router-outlet></router-outlet>
</html>
