<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="formacao.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Formação Acadêmica</title>
  </head>
  <body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink] = "['']">
            <img src="assets/images/doctorwho.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <b>EDUARDO DAMAZIO</b>
          </a>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="formacao">
                    <div class="fs-4">
                        FORMAÇÃO ACADÊMICA
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="formacao-body">
                    <img src="assets/images/education.png" alt="Flowers in Chania">
                    Abaixo você pode encontrar informações a respeito de minha formação acadêmia.
                    <br><br>
                    <b>Sistema de Informação</b><br>
                    Graduação na Pontifícia Universidade Católica de Minas Gerais<br>
                    Conclusão: 2019.
                    <br>
                    <br>
                    <b>Técnico em Eletrônica</b><br>
                    Centro de Educação Profissional Tancredo Neves – Brazópolis / MG <br>
                    Conclusão: 2013.
                    
                    <br>
                    <br>
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-outline-success" routerLink= "/info" role="button" style="margin-right: 620px;"> << Informações Pessoais</a>
                        <a class="btn btn-outline-success" routerLink= "/experiencia" role="button">Experiências Profissionais >></a>
                      </div>
                </div>
                <br>
                <br>
            </div>
            <br>
        </div>
        </div>

  </body>
</html>