<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="experiencia.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Experiências Profissionais</title>
  </head>
  <body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink] = "['']">
            <img src="assets/images/doctorwho.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <b>EDUARDO DAMAZIO</b>
          </a>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="experiencias">
                    <div class="fs-4">
                        EXPERIÊNCIAS
                        </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="experiencias-body">
                    <img src="assets/images/jobs.png" alt="Flowers in Chania">
                    <br>
                    <br>
                    <b>Proimage Brasil</b><br>
                    <b>Cargo:</b> Analista de Suporte<br>
                    <b>Período:</b> De 06/2020 a 11/2020<br>
                    <b>Atribuições:</b> Suporte a sistemas utilizados pela empresa, monitoramento das redes internas da empresa, <br>suporte na infraestrutura da empresa, configurações e reparos em equipamentos de CFTV
                    <br>
                    <br>
                    <b>Pif Paf Alimentos</b><br>
                    <b>Cargo:</b>: Assistente de Suporte<br>
                    <b>Período:</b> De 12/2018 a 02/2020<br>
                    <b>Atribuições:</b> Suporte a sistemas utilizados pela empresa, monitoramento das redes internas da empresa, <br>suporte na infraestrutura da empresa. 
                    <br>
                    <br>
                    <b>Pif Paf Alimentos</b><br>
                    <b>Cargo:</b> Estagiário em Infraestrutura<br>
                    <b>Período:</b> De 10/2017 a 12/2018<br>
                    <b>Atribuições:</b> Atendimento de chamados via conexão remota e localmente, além do monitoramento das redes da empresa.

                    <br>
                    <br>
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-outline-success" routerLink= "/formacao" role="button" style="margin-right: 872px;"> << Formação Academica</a>
                      </div>
                </div>
                <br>
                <br>
            </div>
            <br>
        </div>
        </div>

  </body>
</html>